<div class="container">
  <h2>إدارة تسجيل الطلاب في الكورسات</h2>

  <!-- رسايل النجاح والخطأ -->
  <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
  <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

  <!-- اختيار الطالب -->
  <div class="form-group">
    <label for="studentSelect">اختر الطالب:</label>
    <select id="studentSelect" [(ngModel)]="selectedStudentId" class="form-control">
      <option [value]="null" disabled>اختر طالب</option>
      <option *ngFor="let student of students" [value]="student.studentId">{{ student.name }} &&ID:({{student.studentId}})</option>
    </select>
  </div>

  <!-- اختيار الكورس -->
  <div class="form-group">
    <label for="courseSelect">اختر الكورس:</label>
    <select id="courseSelect" [(ngModel)]="selectedCourseId" class="form-control">
      <option [value]="null" disabled>اختر كورس</option>
      <option *ngFor="let course of courses" [value]="course.id">{{ course.title }}
        &&ID:({{course.id}})
      </option>
    </select>
  </div>

  <!-- أزرار الإجراءات -->
  <button class="btn btn-primary" (click)="enrollStudent()">تسجيل الطالب</button>
  <button class="btn btn-danger" (click)="unenrollStudent()">إلغاء تسجيل الطالب</button>
</div>