/* Navbar ثابت */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}


.scroll-progress-bar {
    position: fixed;
    top: 60px;
    left: 0;
    height: 6px;
    width: 0%;
    background: linear-gradient(to right, #3498db, #00bfff);
    z-index: 1050;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}