<p>لضمان تشغيل المنصة بدون أي عطل أو بطء في تحميل الفيديوهات، يرجى الالتزام بالتعليمات التالية:</p>
<p>1-المنصة عبارة عن موقع ويب متاح على متصفحات الويب مثل جوجل كروم او فاير فوكس فقط وليست تطبيق  للاندرويد او الايفون .</p>
<p>2-يجب فتح المنصة من هاتف محمول أو جهاز كمبيوتر أو لاب توب، ويحظر تماماً استخدام أجهزة التابلت الخاصة بالمدارس لأنها غير مؤهلة لاستخدام المنصة حتى وإن كانت متهكرة.</p>
<p>
    3-بعد الاشتراك، مش هيكون متاح استرجاع الكورس أو تبديله، لذا يجب التأكد جيداً من الكورس الذي ترغب في الاشتراك فيه.🚫
</p>
<p>
    4- الحساب مخصص لاستخدامك الشخصي فقط ولا يُسمح بمشاركته مع أصدقائك. في حالة اكتشاف مشاركة الحساب سيتم إغلاقه نهائياً.
</p>
<p>
    5-يجب استخدام إنترنت قوي ومستقر ويفضل استخدام شبكة واي فاي مستقرة.
</p>
<p>
    6-عند التسجيل على المنصة، يجب التأكد من صحة بياناتك لضمان المتابعة الدورية بشكل صحيح.
</p>
<p>
    7-يجب كتابة الاسم باللغة العربية كما هو في البطاقة عند التسجيل.
</p>
<p>
    8-لا تنسَ التأكد من رقم الهاتف وكلمة المرور وكتابة هذه المعلومات في مكان آمن حتى لا تنساها.
</p>
<p>
    9-يمكنك مشاهدة الفيديو الواحد على المنصة بحد أقصى خمس مرات خلال العام الدراسي الواحد.

</p>
<p>
    10-تُحسب المشاهدة عند تجاوز 30% من مدة الفيديو.
</p>
<p>
    11-يجب متابعة المنصة بشكل دوري وحل الواجبات والاختبارات لأن هناك تقارير أسبوعية تُرسل إلى ولي الأمر حول نشاطك على المنصة.
</p>
<p>
    12- ستكون المنصة متاحة لك حتى امتحانات الدور الأول فقط.
</p>
<p>يرجى الالتزام بهذه التعليمات لضمان استفادتك الكاملة من خدمات المنصة.</p>