nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.scroll-progress-bar {
    position: fixed;
    top: 80px;
    left: 0;
    height: 7px;
    width: 0%;
    background: linear-gradient(to right, rgba(52, 112, 223, 0.829), rgb(0, 191, 255));
    z-index: 9999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    opacity: 0;
    transition: opacity 0.3s ease-in-out;

}

.bellll {
    cursor: pointer;
}

.profileImage {
    width: 95px;
    height: 56px;
}