.section1 {
    background-image: url("/assets/arabic.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0b6ccb;
    text-align: center;
    transition: all 1ms ease-in-out;

}


.telegram {
    color: #0b6ccb;
}

.telegram2 {
    color: #2aabee;

}

.iconeCheck {
    background-color: white;
    padding-top: 11px;
    border-radius: 50%;
    color: #2aabee;
    border: 3px solid #2aabee;
}

.parent {
    border: 1px solid #2aabee;
    border-radius: 10px;
}

input::placeholder {
    color: #8b8b8b;
    font-size: 14px;
    font-style: italic;
    direction: rtl;
    opacity: 1;
}

ng-lottie {
    width: 300px;
}





.elbasitTextOnHover:hover {
    color: #0b6ccb;
    transform: scale(1.7);

}


.el3rabiaTextOnHover {
    color: #0b6ccb;
    display: inline-block;
    margin: 0 0.8rem;
    animation: bounce;
    animation-duration: 3s;
    font-weight: 700;

}