.full-screen-section {

    min-height: 100%;
    width: 100%;
    background-color: #0b6ccb;
}

.container-fluid {
    margin: 0px;
    padding: 0px;
}

.white-half {
    height: 100vh;
    width: 100%;
    background-color: white;
    padding: 70px 0px 0px 50px;

}



.LogingHeader {
    color: #0b6ccb;
    margin-top: 0px;
}

form {
    margin-top: 0px;
    margin-right: 50px;
}

.form-group {
    margin: 5px;
    width: 100%;
}

.form-control {
    padding: 15px;
    text-align: center;

}