 html,
 body {
     margin: 0;
     padding: 0;
     height: 100%;
 }

 body {
     overflow: hidden;
 }

 .full-screen-section {

     min-height: 100%;
     width: 100%;
     background-color: #0b6ccb;
 }

 .container-fluid {
     margin: 0px;
     padding: 0px;
 }

 .white-half {
     height: 100vh;
     width: 100%;
     background-color: white;
     border-radius: 50px 0px 0px 50px;
     padding: 70px 0px 0px 50px;

 }

 .LogoInLogin {
     width: 70px;
     height: 100px;
 }

 .LogingHeader {
     color: #0b6ccb;
     padding: 15px;
     margin: 0px;
 }

 form {
     margin-top: 0px;
     margin-right: 50px;
 }

 .form-group {
     margin: 5px;
     width: 80%;
 }

 .form-control {
     padding: 15px;
     text-align: center;
 }